@import '../mixins/shadow';
@import '../constants/colors';

.action_btn {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-height: 25px;
  max-height: 25px;

  padding: 0 5px 0 5px;

  border: 1px solid $transparent;
  border-radius: 5px;

  background-color: $color-main;

  cursor: pointer;

  .text {
    display: flex;

    width: max-content;
    height: min-content;

    font-size: 1vw;
  }

  @include shadow()
}

.action_btn:hover {
  border-color: $color-main-dark;
}

.disabled {
  background-color: $color-disabled;

  cursor:not-allowed;
}