$color-main: rgba(214, 202, 178, 1);
$color-main-dark: rgba(124, 116, 101, 1);
$color-main-light: rgba(214, 202, 178, 0.40);
$color-main-very-light: rgba(240, 234, 223, 0.4);

$color-disabled: rgba(212, 212, 212, 1);

$transparent: rgba(255, 255, 255, 0);