@import '../../../constants/colors';
@import '../../../constants/sizes';

.edit-dispatch {
  position: relative;
  left: $nav_bar_width;

  display: flex;
  flex-direction: column;

  width: calc(100% - #{$nav_bar_width)};
  height: 100%;

  padding: 10px;

  align-items: center;

  overflow: scroll;
  background-color: $color-main;
}