@import "../mixins/universal";
@import "../constants/colors";

@include universal()

.app {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;

  background-color: $color-main;
}