@import '../../../constants/colors';

.action-menu {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  align-items: center;

  height: 100px;

  background-color: $color-main-dark;
}