@import '../../constants/text';
@import '../../mixins/main_window';

@include main-window();

.text_area {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding: 10px;

  white-space: pre-wrap;
  overflow: scroll;

  p {
    height: max-content;
    margin: 0;
  }

  ul {
    height: max-content;
    margin: 0;

    font-size: 0;
    list-style-type: disc;

    li {
      display: list-item;
      font-size: $text-size-reg;
    }
  }
}